{% extends "newsletter/common.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Newsletter subscribe" %}{% endblock head_title %}

{% block content %}
  <span class="login100-form-title p-b-32">{% trans "Newsletter subscribe" %} {{ newsletter.title }}</span>

  <p>Welcome, {{ user }}!</p>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% else %}
    {% trans "Do you want to subscribe to this newsletter?" %}
    <form enctype="multipart/form-data" method="post" action="{% url "newsletter_subscribe_confirm" newsletter.slug %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group container-login100-form-btn">
        <button type="submit" class="login100-form-btn">{% trans "Subscribe" %}</button>
      </div>
    </form>
  {% endif %}
{% endblock body %}
