{% extends "newsletter/common.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Newsletter unsubscribe" %}{% endblock head_title %}

{% block content %}
  <span class="login100-form-title p-b-32">{% trans "Newsletter unsubscribe" %} {{ newsletter.title }}</span>
  {% if error %}
    <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>

    {% comment %} Replace the the following dummy with a valid email address and remove this comment.

        <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:info@foobar.com">info@foobar.com</a></p>

        {% endcomment %}
  {% else %}
    <form enctype="multipart/form-data" method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group container-login100-form-btn">
        <button type="submit" class="login100-form-btn">{% trans "Unsubscribe" %}</button>
      </div>
    </form>
  {% endif %}
{% endblock content %}
