{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <h1>{% trans "Change Password" %}</h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group container-login100-form-btn">
      <button class="login100-form-btn" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>
{% endblock %}

