<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Update of subscription to {{ title }}</title>
</head>
<body>
<p>Dear {{ name|default:"Sir/Madam" }},<br />
  you, or someone in your name requested updating your personal information for {{ title }}.</p>
<p>To make changes to your information in our database, please follow this activation link:<br />
<a href="http://{{ domain }}{{ url }}">http://{{ domain }}{{ url }}</a>
</p>
<p>Kind regards,<br />
{{ newsletter.sender }}
</p>
</body>
</html>
