{% extends 'base/base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
{% endblock %}
{% block intro_cnt %}{% endblock %}
{% block head-extra %}
  <div class="about-cnt ab">
    <h2>{{ page.title }}</h2>
    <p>{{ page.introduction }}</p>
    {% if page.image %}
      <div class="image-item">
        {% image page.image fill-400x400 %}
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
  <div class="main-cnt ab">
    {% for block in page.body %}
      {{ block }}
    {% endfor %}
  </div>
{% endblock %}