{% extends 'base/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block wrapper_class %}home{% endblock %}

{% block header %}
    <div class="header">
        <a href="/" class="logo">Python for the Lab</a>
        <div class="header-dd">
            <div class="navigation">
                <ul>
                    <li><a href="/blog" class="nav-item blog"><span>Blog</span></a></li>
                    <li><a href="/courses" class="nav-item courses"><span>Courses</span></a></li>
                    <li><a href="https://forum.pythonforthelab.com/" target="_blank"
                           class="nav-item forum"><span>Forum</span></a>
                    </li>
                    <li><a href="/books" class="nav-item books"><span>Books</span></a>
                    </li>
                    <li><a href="/about" class="nav-item about"><span>About</span></a></li>
                </ul>
            </div>
            <div class="search field-wp">
                <form action="">
                    <input type="text" class="field" placeholder="Type to Search">
                    <input type="submit" class="search-btn">
                </form>
            </div>
        </div>
        <div class="search field-wp">
            <form action="">
                <input type="text" class="field" placeholder="Type to Search">
                <input type="submit" class="search-btn">
            </form>
        </div>
        <button class="menu-btn"><span>Menu</span></button>
    </div>
    <div class="home-cnt">
        <h1>{{ page.title }}</h1>
        <div class="intro-img"></div>
        {{ page.hero_text|richtext }}
        <div class="subscribe-form">
            <div class="text"><strong>Don't miss out any updates.</strong> Join a community of over 1000 Python developers.
            </div>
            <div class="form-cnt">
                <form enctype="multipart/form-data" method="post" action="/newsletter/python-lab/subscribe/">
                  {% csrf_token %}
                    <div class="field-wp">
                        <input type="email" name="email_field" class="field" placeholder="Your E-Mail">
                    </div>
                    <input type="submit" class="subscribe-btn" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block navigation_wp %}
    <!-- Navigation Wp -->
    <div class="navigation-wp">
        <div class="container">
            <ul>
                <li><a href="/blog" class="nav-item blog"><span>Blog</span></a></li>
                <li><a href="/courses" class="nav-item courses"><span>Courses</span></a></li>
                <li><a href="https://forum.pythonforthelab.com/" target="_blank"
                       class="nav-item forum"><span>Forum</span></a></li>
                <li><a href="/books" class="nav-item books"><span>Books</span></a></li>
                <li><a href="/about" class="nav-item about"><span>About</span></a></li>
            </ul>
        </div>
    </div>
    <!-- End Navigation Wp -->
{% endblock %}
{% block intro_cnt %}{% endblock %}
{% block content %}
    <!-- Home Articles -->
    <div class="home-articles">
        <div class="container">
            <h2>Our Latest Articles</h2>

            <div class="articles-cnt">
                {% if page.featured_section %}
                    {% for article in feature_section_articles %}
                        <div class="article {% if forloop.counter == 1 %}big{% endif %}">
                            <span class="image">{% image article.image width-544 %}</span>
                            <span class="date">{{ article.date_published }}</span>
                            <a href="{{ article.url }}" class="title">{{ article.title }}</a>
                            <span class="text">{{ article.introduction|slice:":220" }}</span>
                            <span class="more-btn"><span>Read More</span></span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="bottom">
                <p>Want to see more? Here’s the list of all of our posts!</p>
                <a href="{{ page.featured_section.url }}" class="button"><span>All Articles</span></a>
            </div>
        </div>
    </div>
    <!-- End Home Articles -->
{% endblock %}