<!-- Header -->
<div class="header">
  <a href="/" class="logo">Python for the Lab</a>
  <div class="header-dd">
    <div class="navigation">
      <ul>
        <li><a href="/pftl/blog" class="nav-item blog"><span>Blog</span></a></li>
        <li><a href="/pftl/courses" class="nav-item courses"><span>Courses</span></a></li>
        <li><a href="https://forum.pythonforthelab.com/" target="_blank" class="nav-item forum"><span>Forum</span></a>
        </li>
        <li><a href="/books" class="nav-item books"><span>Books</span></a></li>
        <li><a href="/about" class="nav-item about"><span>About</span></a></li>
      </ul>
    </div>
    <div class="search field-wp">
      <form action="/pftl/search" method="get">
        {% csrf_token %}
        <input name="query" type="text" class="field" placeholder="Type to Search">
        <input type="submit" class="search-btn">
      </form>
    </div>
  </div>
  <button class="menu-btn"><span>Menu</span></button>
</div>
<!-- End Header -->



