{% load l10n %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% for item in comments %}
  <!-- Comment -->
  <div class="comment">
    <div class="profile-image">
      {{ item.comment.user_email|xtd_comment_gravatar }}
    </div>
    <div class="comment-info" id="{% get_comment_permalink item.comment %}">
    <a name="c{{ item.comment.id }}"></a>
            <span class="name">
                {% if item.comment.url and not item.comment.is_removed %}
                  <a href="{{ item.comment.url }}" target="_new">
                {% endif %}
              {{ item.comment.name }}
              {% if item.comment.url %}</a>{% endif %}&nbsp
              {% if item.comment.user and item.comment.user|has_permission:"django_comments.can_moderate" %}&nbsp;
                <span class="badge badge-secondary">{% trans "moderator" %}</span>{% endif %}
              <a class="permalink" title="comment permalink"
                 href="{% get_comment_permalink item.comment %}">¶</a></span>
      <span class="date">{{ item.comment.submit_date }}</span>

      <span class="hands">
        <a href="{% url 'comments-xtd-like' item.comment.pk %}"
           class="{% if not item.likedit %}mutedlink{% endif %}">
            <button class="hand like"></button>
        </a>
        <a href="{% url 'comments-xtd-dislike' item.comment.pk %}"
           class="{% if not item.dislikedit %}mutedlink{% endif %}">
            <button class="hand unlike"></button>
        </a>
      </span>
      <span>
        {% if not item.comment.is_removed %}
          {% if perms.comments.can_moderate %}
            {% if item.flagged_count %}
              <span class="badge badge-danger"
                    title="A user has flagged this comment as inappropriate.">{{ item.flagged_count }}</span>
            {% endif %}
          {% endif %}
          {% if allow_flagging and item.flagged %}
            <i class="fas fa-flag text-danger" title="{% trans 'comment flagged' %}"></i>
          {% elif allow_flagging %}
            <a class="mutedlink" href="{% url 'comments-flag' item.comment.pk %}">
                    <i class="fas fa-flag" title="{% trans 'flag comment' %}"></i></a>
          {% endif %}
          {% if perms.comments.can_moderate %}
            <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}"><i
                    class="fas fa-trash-alt" title="{% trans 'remove comment' %}"></i></a>
          {% endif %}
        {% endif %}
      </span>
    </div>
    <div class="comment-cnt">
      {{ item.comment.comment }}
    </div>
    {% if item.comment.allow_thread and not item.comment.is_removed %}
      <div class="comment-actions">
        <a class="small mutedlink" href="{{ item.comment.get_reply_url }}">
          <button class="reply-btn">Reply</button>
        </a>
      </div>
    {% endif %}
    {% if not item.comment.is_removed and item.children %}
      <div class="reply">
        {% render_xtdcomment_tree with comments=item.children %}
      </div>
    {% endif %}
  </div>
  <!-- End Comment -->
{% endfor %}