<!-- Intro -->
<div class="intro blog article">
    <div class="container">
        <!-- Header -->
        <div class="header">
            <a href="/" class="logo">Python for the Lab</a>
            <div class="header-dd">
                <div class="navigation">
                    <ul>
                        <li class="active"><a href="blog.html" class="nav-item blog"><span>Blog</span></a></li>
                        <li><a href="https://www.uetke.com/courses/" target="_blank"
                               class="nav-item courses"><span>Courses</span></a></li>
                        <li><a href="https://forum.pythonforthelab.com/" target="_blank" class="nav-item forum"><span>Forum</span></a>
                        </li>
                        <li><a href="books.html" class="nav-item books"><span>Books</span></a></li>
                        <li><a href="about.html" class="nav-item about"><span>About</span></a></li>
                        <li class="mail"><span class="mail-item">aquiles@uetke.com</span></li>
                    </ul>
                </div>
                <div class="search field-wp">
                    <form action="">
                        <input type="text" class="field" placeholder="Type to Search">
                        <input type="submit" class="search-btn">
                    </form>
                </div>
            </div>
            <button class="menu-btn"><span>Menu</span></button>
        </div>
        <!-- End Header -->

        <!-- Intro Cnt -->
        <div class="intro-cnt v-article">
            <div class="side-text"></div>
            <div class="side-form small-sb-form">
                <div class="sb-form">
                    <h4>Get all the information directly to your inbox</h4>
                    <form action="">
                        <div class="field-wp">
                            <input type="text" class="field" placeholder="Your E-Mail">
                        </div>
                        <input type="submit" class="send-btn" value="Subscribe to the Newsletter">
                        <span class="small-text">Get relevant information, unsubscribe at any time.</span>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Intro Cnt -->

    </div>
</div>
<!-- End Intro -->