{% extends 'base.html' %}
{% block intro %}
  <!-- Intro -->
  <div class="intro {{ intro_class }}">
    <div class="container">
      {% block  header %}
        {% include 'includes/header.html' with parent=site_root calling_page=self %}
      {% endblock %}
      {% block head-extra %}
      {% endblock %}
      {% block intro_cnt %}
        <!-- Intro Cnt -->
        <div class="intro-cnt v-article">
          <div class="side-text">
            {% block header_intro_text %}
            {% endblock %}
          </div>
          <div class="side-form small-sb-form">
            <div class="sb-form">
              <h4>Get all the information directly to your inbox</h4>
              <form method="post" action="https://tinyletter.com/aqui_carattino" method="post" target="popupwindow"
                    onsubmit="window.open('https://tinyletter.com/aqui_carattino', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <div class="field-wp">
                  <input type="email" name="email" id="tlemail" class="field" placeholder="Your E-Mail">
                </div>
                <input type="hidden" value="1" name="embed"/>
                <input type="submit" class="subscribe-btn" value="Subscribe">
                <span class="small-text">Get relevant information, unsubscribe at any time.</span>
              </form>
            </div>
          </div>
        </div>
        <!-- End Intro Cnt -->
      {% endblock %}
    </div>
  </div>
  <!-- End Intro -->
{% endblock %}