{% extends 'base.html' %}
{% block intro %}
  <!-- Intro -->
  <div class="intro {{ intro_class }}">
    <div class="container">
      {% block  header %}
        {% include 'includes/header.html' with parent=site_root calling_page=self %}
      {% endblock %}
      {% block head-extra %}
      {% endblock %}
      {% block intro_cnt %}
        <!-- Intro Cnt -->
        <div class="intro-cnt v-article">
          <div class="side-text">
            {% block header_intro_text %}
            {% endblock %}
          </div>
          <div class="side-form small-sb-form">
            <div class="sb-form">
              <h4>Get all the information directly to your inbox</h4>
              <form enctype="multipart/form-data" method="post" action="https://newsletter.privalytics.io/subscribe/6b2a194f-96b3-4ebf-a43a-b7ebeffd872e/">
                <div class="field-wp">
                  <input type="email" name="email" class="field" placeholder="Your E-Mail">
                </div>
                <input type="submit" class="send-btn" value="Subscribe to the Newsletter">
                <span class="small-text">Get relevant information, unsubscribe at any time.</span>
              </form>
            </div>
          </div>
        </div>
        <!-- End Intro Cnt -->
      {% endblock %}
    </div>
  </div>
  <!-- End Intro -->
{% endblock %}