{% extends 'blog/base.html' %}
{% load wagtailimages_tags wagtailcore_tags wagtailmarkdown %}
{% block content %}
  <div class="container">
    <div class="article-cnt">
      <div class="leftside">
        <div class="article-image">
          {% if page.video %}
            <iframe width="860" height="465"
                    src="{{ page.video }}">
            </iframe>
          {% elif page.image %}
            {% image page.image width-800 %}
          {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <h3>{{ page.subtitle }}</h3>
        <div class="info">
          <span class="item-1 author">by {{ page.first_author }}</span>
          {% if page.date_published %}
            <span class="item-1 date">{{ page.date_published }}</span>
          {% endif %}
          {% for tag in page.get_tags %}
            <span class="item-tag {% if forloop.counter == 1 %}first{% endif %}">{{ tag }}</span>
          {% endfor %}
        </div>
        {% if self.body %}
          {{ self.body|markdown }}
        {% else %}
          {{ self.extended_body }}
        {% endif %}
        <div class="info-list">
          <span class="item author">Article written by {{ page.first_author }}</span>
          {% if page.image_data %}
            <span class="item designer">{{ page.image_data|richtext }}</span>
          {% endif %}
        </div>
        <div class="bottom-section">
          <div class="comments">
            <div id='discourse-comments'></div>

            <script type="text/javascript">
              DiscourseEmbed = {
                discourseUrl: 'https://forum.pythonforthelab.com/',
                discourseEmbedUrl: 'https://pythonforthelab.com{{ self.url }}'
              };

              (function () {
                var d = document.createElement('script');
                d.type = 'text/javascript';
                d.async = true;
                d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
              })();
            </script>
            {#            {% get_comment_count for self as comment_count %}#}
            {##}
            {#            <div class="all">{{ comment_count }} comment{{ comment_count|pluralize }}</div>#}
            {#            {% if comment_count %}#}
            {#              {% render_xtdcomment_tree for self allow_flagging %}#}
            {#            {% endif %}#}
          </div>
        </div>
      </div>
      <div class="rightside">
        <div class="support-box">
          <h3>Support Us</h3>
          <p>If you like the content of this website, consider buying a copy of the book <strong>Python
            For The Lab</strong></p>
          <a href="/books" class="button">Check out the book</a>
        </div>
        <div class="latest-posts">
          <h3>Latest Articles</h3>
          <ul>
            {% for article in latest_articles %}
              <li>
                <a href="{{ article.url }}">{{ article.title }}</a>
                <span>by {{ article.first_author }}, {{ article.date_published }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="subscribe-fixed">
          <button class="action">Never Stop Learning</button>
          <div class="cnt">
            <p>Join over 1000 Python developers and don't miss any updates!</p>
            <form enctype="multipart/form-data" method="post" action="https://newsletter.privalytics.io/subscribe/6b2a194f-96b3-4ebf-a43a-b7ebeffd872e/">
              <div class="field-wp">
                <input type="email" name="email" class="field" placeholder="Your E-Mail">
              </div>
              <input type="submit" class="send-btn" value="Subscribe to the Newsletter">
            </form>
            <p>Or check out our <a href="/books">Books</a>! <br> <a href="/privacy">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-sb-form">
      <div class="sb-form">
        <h4>Get all the information directly to your inbox</h4>
        <form enctype="multipart/form-data" method="post" action="https://newsletter.privalytics.io/subscribe/6b2a194f-96b3-4ebf-a43a-b7ebeffd872e/">
          <div class="field-wp">
            <input type="email" name="email" class="field" placeholder="Your E-Mail">
          </div>
          <input type="submit" class="send-btn" value="Subscribe to the Newsletter">
        </form>
      </div>
    </div>

  </div>
{% endblock %}