{% extends 'blog/base.html' %}
{% load wagtailimages_tags wagtailcore_tags wagtailmarkdown %}
{% load comments comments_xtd %}
{% block content %}
  <div class="container">
    <div class="article-cnt">
      <div class="leftside">
        <div class="article-image">
          {% if page.image %}
            {% image page.image width-800 %}
          {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <h3>{{ page.subtitle }}</h3>
        <div class="info">
          <span class="item-1 author">by {{ page.first_author }}</span>
          {% if page.date_published %}
            <span class="item-1 date">{{ page.date_published }}</span>
          {% endif %}
          {% for tag in page.get_tags %}
            <span class="item-tag {% if forloop.counter == 1 %}first{% endif %}">{{ tag }}</span>
          {% endfor %}
        </div>
        {{ self.body|markdown }}
        <div class="info-list">
          <span class="item author">Article written by {{ page.first_author }}</span>
          {% if page.image_data %}
            <span class="item designer">{{ page.image_data|richtext }}</span>
          {% endif %}
        </div>
        <div class="bottom-section">
          <h4>Share your thoughts with us!</h4>
          {% if self.allow_comments %}
            <div class="card card-block mb-5">
              <div class="card-body">
                <h4 class="card-title text-center pb-3">Post your comment</h4>
                {% render_comment_form for self %}
              </div>
            </div>
          {% else %}
            <h3 class="text-center">comments are disabled for this article</h3>
          {% endif %}

          <div class="comments">
            {% get_comment_count for self as comment_count %}

            <div class="all">{{ comment_count }} comment{{ comment_count|pluralize }}</div>
            {% if comment_count %}
              {% render_xtdcomment_tree for self allow_flagging %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="rightside">
        <div class="support-box">
          <h3>Support Us</h3>
          <p>If you like the content of this website, consider buying a copy of the book <strong>Python
            For The Lab</strong></p>
          <a href="/books" class="button">Check out the book</a>
        </div>
        <div class="latest-posts">
          <h3>Latest Articles</h3>
          <ul>
            {% for article in latest_articles %}
              <li>
                <a href="{{ article.url }}">{{ article.title }}</a>
                <span>by {{ article.first_author }}, {{ article.date_published }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="subscribe-fixed">
          <button class="action">Never Stop Learning</button>
          <div class="cnt">
            <p>Join over 1000 Python developers and don't miss any updates!</p>
            <form enctype="multipart/form-data" method="post" action="/newsletter/python-lab/subscribe/">
              {% csrf_token %}
              <div class="field-wp">
                <input type="email" name="email_field" class="field" placeholder="Your E-Mail">
              </div>
              <input type="submit" class="send-btn" value="Subscribe to the Newsletter">
            </form>
            <p>Or check out our <a href="/books">Books</a>! <br> <a href="/privacy">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-sb-form">
      <div class="sb-form">
        <h4>Get all the information directly to your inbox</h4>
        <form enctype="multipart/form-data" method="post" action="/newsletter/python-lab/subscribe/">
          {% csrf_token %}
          <div class="field-wp">
            <input type="email" name="email_field" class="field" placeholder="Your E-Mail">
          </div>
          <input type="submit" class="send-btn" value="Subscribe to the Newsletter">
        </form>
      </div>
    </div>

  </div>
{% endblock %}
{% block extra_js %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}