{% extends "newsletter/common.html" %}
{% load i18n %}

{% block head_title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }}
  {% trans "activate" %}{% endblock head_title %}

{% block content %}
  <span class="login100-form-title p-b-32">{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} {% trans "activate" %}</span>

  <p>{% trans "Your subscription has successfully been activated." %}</p>
  <p>If you think your friends and followers would benefit from <b>Python for the Lab</b>, would you share it?</p>
  <p><a href="https://twitter.com/intent/tweet?text=I just signed up to Python for the Lab by @aquicarattino. Check it out! https://pythonforthelab.com">
    <i class="fa fa-twitter"></i>Click to Share</a> </p>
{% endblock content %}
