/* 
<pre class="prettyprint lang-html">
  The lang-* class specifies the language file extensions.
  File extensions supported by default include:
    "bsh", "c", "cc", "cpp", "cs", "csh", "cyc", "cv", "htm", "html", "java",
    "js", "m", "mxml", "perl", "pl", "pm", "py", "rb", "sh", "xhtml", "xml",
    "xsl".
</pre>
 */

.str {
    color: #080
}

.kwd {
    color: #008
}

.com {
    color: #800
}

.typ {
    color: #606
}

.lit {
    color: #066
}

.pun {
    color: #660
}

.pln {
    color: #000
}

.tag {
    color: #008
}

.atn {
    color: #606
}

.atv {
    color: #080
}

.dec {
    color: #606
}

.prettyprint {
    padding: 0;
    border: 0;
    border-top: dashed 1px #ccc;
    border-bottom: dashed 1px #ccc;
    background: #f9f9f9;
    overflow: auto;
}

ol.linenums {
    min-width: 100%;
    list-style-type: decimal-leading-zero;
   /* white-space: nowrap;*/
    margin: 0;
    padding: 0 20px 0 50px;
    /*float: left;*/
    box-sizing: border-box;
}

ol.linenums li {
	list-style-type: decimal-leading-zero;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #f5f5f5
}

@media print {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: bold
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404;
        font-weight: bold
    }
    .lit {
        color: #044
    }
    .pun {
        color: #440
    }
    .pln {
        color: #000
    }
    .tag {
        color: #006;
        font-weight: bold
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}
