{% load static wagtailuserbar wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

  <title>
    {% block title %}
      {% block title_prefix %}
        Python for the Lab
      {% endblock %}
      {% if self.seo_title %}
        {{ self.seo_title }}
      {% else %}
        {{ self.title }}
      {% endif %}
    {% endblock %}
  </title>

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'css/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'css/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'css/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'css/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'css/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'css/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'css/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'css/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'css/favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'css/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'css/favicon/manifest.json' %}">

  <meta name="description" content="
    {% if self.search_description %}
      {{ self.search_description }}
      {% elif self.subtitle %}
      {{ self.subtitle }}
{% endif %}">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ self.title }}">
  <meta itemprop="description" content="
    {% if self.search_description %}
      {{ self.search_description }}
      {% elif self.subtitle %}
      {{ self.subtitle }}
{% endif %}">
  {% if self.image %}
    {% image self.image width-500 as head_image %}
    <meta itemprop="image" content="{{ head_image.url }}">
  {% endif %}

  <!-- Twitter Card data -->
  <meta name="twitter:site" content="@pftl3"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{ self.title }}"/>
  {% if self.image %}
  <meta name="twitter:image" content="{{ head_image.url }}"/>
  {% endif %}
    <meta name="twitter:description" content="{% if self.search_description %}
      {{ self.search_description }}
      {% elif self.subtitle %}
      {{ self.subtitle }}
{% endif %}">

  <meta name="twitter:creator" content="@_aquic_"/>
  <!-- Twitter summary card with large image must be at least 280x150px -->
{% if self.image %}
  <meta name="twitter:image:src" content="{{ head_image.url }}">
{% endif %}

  <!-- Open Graph data -->
    <meta property="og:url" content="{{ self.url }}"/>
    <meta property="og:title" content="{{ self.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{% if self.search_description %}
      {{ self.search_description }}
      {% elif self.subtitle %}
      {{ self.subtitle }}
{% endif %}"/>
{% if self.image %}
    <meta property="og:image" content="{{ head_image.url }}"/>
{% endif %}
    <meta property="og:site_name" content="Python For The Lab"/>

    <link rel="canonical" href="{{ self.url }}"/>
  <meta name="author" content="Aquiles Carattino">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="css/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:300,400,700&display=swap"
        rel="stylesheet">

  {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  {% endblock css %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>

  <!--[if lt IE 9]>
		<script src="{% static 'js/html5shiv.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/respond.min.js' %}" type="text/javascript"></script>
	<![endif]-->

  <script src="{% static 'js/functions.js' %}"></script>
  <script src="{% static 'js/prism.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/prism.css' %}"/>
  <link href="{% static 'css/vendor/font-awesome/css/all.min.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock extra_css %}
  {% block extra_head_js %}{% endblock extra_head_js %}
</head>
<body>
{% wagtailuserbar %}

<!-- Wrapper -->
<section class="wrapper {{ wrapper_class }}">

  {% block intro %}{% endblock intro %}

  {% block navigation_wp %}{% endblock navigation_wp %}
  <div class="main">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</section>

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
{% block footer_js %}{% endblock footer_js %}
</body>
</html>
