{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% for comment in comment_list %}
    <!-- Comment -->
    <div class="comment">
        <div class="profile-image">
            {{ comment.user_email|xtd_comment_gravatar }} Whhat?
        </div>
        <div class="comment-info">
            <span class="name">{% if comment.url and not comment.is_removed %}
                <a href="{{ comment.url }}" target="_new">{% endif %}{{ comment.name }}{% if comment.url %}
                </a>{% endif %}&nbsp;&nbsp;<a class="permalink" title="comment permalink"
                                              href="{% get_comment_permalink comment %}">¶Whhat?</a></span>
            <span class="date">{{ comment.submit_date }}</span>
            <span class="hands">
											<button class="hand like"></button>
											<button class="hand unlike"></button>
										</span>
        </div>
        <div class="comment-cnt">
            {{ comment.content }}
        </div>
        <div class="comment-actions">
            <button class="reply-btn">Reply</button>
        </div>

        <!-- Reply -->
        <div class="comment reply">
            <div class="profile-image">
                <img src="css/images/profile-image.png" alt="">
            </div>
            <div class="comment-info">
                <span class="name">Mark Hale</span>
                <span class="reply-name">Paul Johnson</span>
                <span class="date">9 days ago</span>
                <span class="hands">
												<button class="hand like"></button>
												<button class="hand unlike"></button>
											</span>
            </div>
            <div class="comment-cnt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
            </div>
        </div>
        <!-- End Reply -->

    </div>
    <!-- End Comment -->
{% endfor %}